body{
    font-family: 'Big Shoulders Stencil Display', cursive;
}
h1{
    font-size:50px;
}
p{
    font-size:18px;
}
section{
    height:500px;
}
.first{
    color:#00fa36;
}
.second{
    font-size:25px;
}
.F_Half{
    width: 580px; 
    float:left; 
    padding-left:25px;
    margin-left:30px;
}
.Margin{
    margin-left:70px;
}
#BGimage{
    background-image:url("images/HeaderBckG.jpg");
    background-repeat:no-repeat;
}
.kiraimg{
    width:100%;
    margin-left:125px;
    margin-top:-120px; 
}